

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    
    <title>Confirm OpenID - Stack Overflow</title>
    <link rel="stylesheet" href="http://sstatic.net/so/all.css?v=0554a32b907e">
    <link rel="shortcut icon" href="http://sstatic.net/so/favicon.ico">
    <link rel="apple-touch-icon" href="http://sstatic.net/so/apple-touch-icon.png">
    <link rel="search" type="application/opensearchdescription+xml" title="Stack Overflow" href="http://sstatic.net/so/opensearch.xml">
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    
    <script type="text/javascript" src="http://sstatic.net/so/js/master.js?v=1efdfca3b527"></script>
    <script type="text/javascript">
    var imagePath='http://sstatic.net/so/img/';
    
    </script>
    

</head>
<body class="user-page">
    <noscript><div id="noscript-padding"></div></noscript>
    <div id="notify-container"></div>

    <div id="custom-header"></div>
    <div class="container">        
        <div id="header">
            <div id="topbar">
                <div id="hlinks">
                    <span id="hlinks-user">
                    <a href="/users/recent/169992" title="you have no new replies"><span class="envelope-off">&nbsp;</span></a> 
                    <a href="/users/169992/viatropos" >viatropos</a>&nbsp;<span class="reputation-score" title="reputation score">4,117</span><span title="2 silver badges"><span class="badge2"></span><span class="badgecount">2</span></span><span title="17 bronze badges"><span class="badge3"></span><span class="badgecount">17</span></span>
<span class="lsep">|</span>

                    </span>
                    <span id="hlinks-nav">
                    <a href="/users/logout?returnurl=%2fusers%2fauthenticate%2f%26dnoa.usersuppliedidentifier%3d%2fprofiles%2flancejpollard%26openid.ns%3d%2fauth%2f2.0%26openid.mode%3did_res%26openid.op_endpoint%3dhttps%3a%2f%2fwww.google.com%2faccounts%2fo8%2fud%3fsource%3dprofiles%26openid.response_nonce%3d2010-05-24t10%3a55%3a17zxe9bg_dzr-tyfg%26openid.return_to%3d%2fusers%2fauthenticate%2f%26dnoa.usersuppliedidentifier%3dhttp%25253a%25252f%25252fwww.google.com%25252fprofiles%25252flancejpollard%26openid.assoc_handle%3daoqobueqfgajhbxscjwqwu6fwfnpcdrlls06iruwdiyip_6-sciwupyk%26openid.signed%3dop_endpoint%2cclaimed_id%2cidentity%2creturn_to%2cresponse_nonce%2cassoc_handle%2cns.ext1%2cext1.mode%2cext1.type.alias4%2cext1.value.alias4%26openid.sig%3d245h1abjqy4naq35pn8rshumbys%3d%26openid.identity%3d%2fprofiles%2flancejpollard%26openid.claimed_id%3d%2fprofiles%2flancejpollard%26openid.ns.ext1%3d%2fsrv%2fax%2f1.0%26openid.ext1.mode%3dfetch_response%26openid.ext1.type.alias4%3d%2fcontact%2femail%26openid.ext1.value.alias4%3dlancejpollard%40gmail.com">log out</a>
<span class="lsep">|</span>

                    </span>
                    <span id="hlinks-custom">
                    <a href="/about">about</a> <span class="lsep">|</span> <a href="/faq">faq</a>
                    </span>
                </div>
                <div id="hsearch">
                    <form id="search" action="/search" method="get">
                    <div>
                        <input name="q" class="textbox" tabindex="1" onfocus="if (this.value=='search') this.value = ''" type="text" maxlength="80" size="28" value="search">
                    </div>
                    </form>
                </div>
            </div>
            <br class="cbt">
            <div id="hlogo">
                <a href="/">Stack Overflow</a>
            </div>
            <div id="hmenus">
                <div class="nav mainnavs">
                    <ul>
                        <li><a id="nav-questions" href="/questions">Questions</a></li>
                        <li><a id="nav-tags" href="/tags">Tags</a></li>
                        <li class="youarehere"><a id="nav-users" href="/users">Users</a></li>
                        <li><a id="nav-badges" href="/badges">Badges</a></li>
                        <li><a id="nav-unanswered" href="/unanswered">Unanswered</a></li>
                    </ul>
                </div>
                <div class="nav askquestion">
                    <ul>
                        <li id="nav-askquestion" >
                            <a href="/questions/ask">Ask Question</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    
        <div id="content">
            
    <div class="subheader">
        <h1>Confirm OpenID</h1>
    </div>
    <div class="page-description">
        <form id="logout-user" action="/users/openidconfirm" method="post">    

            <p>This is an OpenID we haven't seen on Stack Overflow before:</p>
            <p class="openid-identifier" style="font-size: 150%">http://www.google.com/profiles/lancejpollard</p>
            <p>Do you want to associate this OpenID with your Stack Overflow account?</p>
        
            <div>
                <input type="hidden" name="fkey" value="6f37f59453d47f880827ccfc1dadc632">
                <input type="hidden" name="s" value="ed799538-61ce-49bb-9bd4-0d81de548e1e">
                <input type="submit" value="Associate OpenID" style="font-size: 120%">
                <input type="button" value="Cancel" style="font-size: 120%" onclick="window.location.href = 'http://stackoverflow.com/users/169992/viatropos?s=ed799538-61ce-49bb-9bd4-0d81de548e1e'">
            </div>            
        </form>
            
    </div>

        </div>
    </div>
    <div id="footer">
        <div class="footerwrap">
            <div id="footer-menu">
                <a href="/about">about</a> |
                <a href="/faq">faq</a> |
                <a href="http://blog.stackoverflow.com/">blog</a> |
                <a href="http://itc.conversationsnetwork.org/series/stackoverflow.html">podcast</a> |
                <a href="/privacy">privacy policy</a> |
                <a href="http://ads.stackoverflow.com/a.aspx?ZoneID=0&amp;BannerID=323&amp;AdvertiserID=5&amp;CampaignID=194&amp;Task=Click&amp;SiteID=1">advertising info</a> |
                <b><a href="mailto:team@stackoverflow.com">contact us</a></b> |
                <b><a href="http://meta.stackoverflow.com">feedback always welcome</a></b>
                <div id="footer-sites">
                    <span style="color:#FE7A15;font-size:140%">&#9632;</span>&nbsp;<a href="http://stackoverflow.com">stackoverflow.com</a>&nbsp;&nbsp;
                    <span style="color:#FE7A15;font-size:140%">&#9632;</span>&nbsp;<a href="http://stackapps.com">api/apps</a>&nbsp;&nbsp;
                    <span style="color:#FE7A15;font-size:140%">&#9632;</span>&nbsp;<a href="http://careers.stackoverflow.com">careers</a>&nbsp;&nbsp;                    
                    <span style="color:#E8272C;font-size:140%">&#9632;</span>&nbsp;<a href="http://serverfault.com">serverfault.com</a>&nbsp;&nbsp;
                    <span style="color:#00AFEF;font-size:140%">&#9632;</span>&nbsp;<a href="http://superuser.com">superuser.com</a>&nbsp;&nbsp;
                    <span style="color:#969696;font-size:140%">&#9632;</span>&nbsp;<a href="http://meta.stackoverflow.com">meta</a>&nbsp;&nbsp;
                    <a href="http://www.howtogeek.com">howtogeek.com</a>&nbsp;&nbsp;
                    <a href="http://doctype.com">doctype.com</a>
                </div>
            </div>
            <div id="footer-flair">
	            <a href="http://creativecommons.org/licenses/by-sa/2.5/" class="cc-wiki-link"></a>
	            <a href="http://www.peakinternet.com/business/hosting/colocation-dedicated#" class="peak-link"></a>
                <div id="svnrev">revision: 2010.5.24.2</div>
            
            </div>
            <div id="copyright">
                site design / logo &copy; 2010 stackoverflow.com internet services, inc; 
                user contributions licensed under <a href="http://creativecommons.org/licenses/by-sa/2.5/" rel="license">cc-wiki</a> with <a href="http://blog.stackoverflow.com/2009/06/attribution-required/" rel="license">attribution required</a>
            </div>
        </div>
    </div>
    
    <noscript>
        <div id="noscript-warning">Stack Overflow works best with JavaScript enabled<img src="http://pixel.quantserve.com/pixel/p-c1rF4kxgLUzNc.gif" alt="" class="dno"></div>
    </noscript>
    
    <script type="text/javascript">
        document.write(unescape("%3Cscript src='http://www.google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        var pageTracker = _gat._getTracker("UA-5620270-1");
        pageTracker._trackPageview();
    </script>
    <script type="text/javascript">
        _qoptions = { qacct : "p-c1rF4kxgLUzNc" };
    </script>
    <script type="text/javascript" src="http://edge.quantserve.com/quant.js"></script>
        
</body>
</html>