%h2 My Account
%form.authentication_form{:action => connect_path, :method => :post}
  %fieldset
    %input{:type => :hidden, :name => :authentication_type, :value => :user}
    %legend Add another Oauth or OpenID provider.
    .oauth_providers
      %ul
        - %w(google facebook twitter yahoo myspace github).each do |name|
          %li.oauth_provider
            %img{:src => "/images/icons/#{name}.png"}
            %input{:type => :radio, :id => "#{name}_oauth_provider", :name => :oauth_provider, :value => name}
        .clearfix
  %fieldset
    %legend Or type in your OpenID address
    .openid_address
      %input.nice{:type => :text, :name => "openid_identifier"}
  %input.submit{:name => :submit, :type => :submit, :value => "Update"}/
