%h2= "Hi #{@profile["name"]}!"

- case @user.active_token.service_name.to_s
  - when "facebook"
    %p
      %img.profile{:src => "https://graph.facebook.com/#{@profile["id"]}/picture"}
      %a{:href => @profile["link"]} Your on Facebook!