/ footer
%a{:href => "http://github.com/viatropos/authlogic-connect-example", :target => "_blank"}
  %img#fork_me{:src => "http://s3.amazonaws.com/github/ribbons/forkme_right_white_ffffff.png", :alt => "Fork me on GitHub"}